{% extends "base.html.twig" %}

{% block body %}
    <div class="col-4 mt-4">
        <h2 >Winkel Detail</h2>

        {{ Store.storeId  }}


        <h3 class="mt-4">Wijzig Winkel</h3>
        <form enctype="multipart/form-data" method="POST" action="{{ path('app_stores_update') }}">
            <div class="form-group">
                <label for="winkelnaam"></label>
                <input type="text" class="form-control m-2" id="storename" name="storename" value=" {{ Store.storeName  }}">
                <label for="Straat"></label>
                <input type="text" class="form-control m-2" id="storestreet" name="storestreet" value="{{ Store.storeStreet  }}">
                <label for="Nummer"></label>
                <input type="text" class="form-control m-2" id="storenr" name="storenr" value="{{ Store.storeNr  }}">
                <label for="Postcode"></label>
                <input type="text" class="form-control m-2" id="storepostalcode" name="storepostalcode" value="{{ Store.storePostalcode  }}">
                <label for="Stad"></label>
                <input type="text" class="form-control m-2" id="storecity" name="storecity" value="{{ Store.storeCity }}">
                <label for="image"></label>
                <input type="file" class="form-control  m-2" id="storeimage" name="storeimage" />
            </div>
            <button type="submit" class="btn btn-primary m-2">Save</button>
        </form>

    </div>
{% endblock %}
